<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Connection settings -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://localhost/sampledb</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">root</property>
		
		<!-- <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://ec2-54-235-183-28.compute-1.amazonaws.com:5432/dei0ekgbsj15sj</property>
		<property name="hibernate.connection.username">gtfyjxtozeejon</property>
		<property name="hibernate.connection.password">0G81cuwDh7D2c1_G1L3cluDHq9</property> -->

		<!-- SQL dialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

		<!-- Print executed SQL to stdout -->
		<property name="show_sql">true</property>

		<!-- Drop and re-create all database on startup -->
		<property name="hibernate.hbm2ddl.auto">create</property>

		<!-- Annotated entity classes -->
		<!-- <mapping class="com.ghis.model.AppUser" /> -->
		<mapping class="com.digital.pojo.Item" />
		<mapping class="com.digital.pojo.Orders" />
		

	</session-factory>
</hibernate-configuration>
