<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Digital Dining</title>
<script src="https://kendo.cdn.telerik.com/2017.1.223/js/jquery.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/Controller.js"></script>
<link rel="stylesheet"
	href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.common-material.min.css" />
<link rel="stylesheet"
	href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.material.min.css" />
<link rel="stylesheet"
	href="https://kendo.cdn.telerik.com/2017.1.223/styles/kendo.material.mobile.min.css" />

<!-- <script src="https://kendo.cdn.telerik.com/2017.1.223/js/angular.min.js"></script> -->
<script
	src="https://kendo.cdn.telerik.com/2017.1.223/js/kendo.all.min.js"></script>

</head>
<body ng-app="expenseManager">
	<div ng-controller="testController">
		<form>
			<input type="date" data-date-format="YYYY-MM-DD" ng-model="date"
				placeholder="date" /> <input type="text" ng-model="particulars"
				placeholder="particulars" /> <input type="number" ng-model="amount"
				step="0.05" placeholder="amount" /> <input type="text"
				ng-model="category" placeholder="category" /> <input
				type="checkbox" ng-model="isdebit" /> <input type="text"
				ng-model="dname" placeholder="dname" /> <input type="checkbox"
				ng-model="dsettled" /> <input type="checkbox" ng-model="iscredit" />
			<input type="text" ng-model="cname" placeholder="cname" /> <input
				type="checkbox" ng-model="csettled" />
			<button ng-click="insertToDB()">Click</button>
		</form>
		<button ng-click="getAllfromDB()">GetAll</button>
		<kendo-grid options="mainGridOptions">
        </kendo-grid>
		<hr />
		<select kendo-combo-box k-placeholder="'Select product'"
			k-data-text-field="'ProductName'" k-data-value-field="'ProductID'"
			k-auto-bind="false" k-min-length="3"
			k-data-source="productsDataSource" style="width: 100%">
		</select>
	</div>
</body>
</html>
