<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Digital Dining</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/Controller.js"></script>

</head>
<body ng-app="digitalDining" ng-controller="insertController">
	<form method="get" action="https://digitaldining.herokuapp.com/service/rest/test">
		<input type="text" ng-model="ITEM_ID" placeholder="itemID"/>
		<input type="text" ng-model="ITEM_NAME" placeholder="itemName"/>
		<input type="text" ng-model="ITEM_PRICE" placeholder="itemPrice"/>
		<input type="text" ng-model="ITEM_CATEGORY" placeholder="itemCategory"/>
		<button ng-click="insert()" value="Add Item"/>
	</form>
</body>
</html>
